<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html" lang="ja">
    <head>
        <meta charset="utf-8">
        <title>社員名簿|新規登録</title>
        <link rel="icon" type="image/png" th:href="@{image/favicon.png}">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>

        <script  th:inline="javascript">
            window.onload = function() {
                select = document.getElementById('selectdp').options;
                select[5].selected = true;
                select = document.getElementById('selectps').options;
                select[4].selected = true;
            }
        </script>

    </head>

    <body>
        <header>
            <form th:action="@{main}">
                <h1><button>社員名簿</button></h1>
            </form>
            <div class="sub-header">
                <h2>新規登録</h2>
            </div>
        </header>
        <form th:object="${EmployeeForm}" th:action="@{create}" id="form1" enctype="multipart/form-data" method="post">
        <div class="detail-contents">
            <h2>社員情報</h2>
            <div class="items">
                <div class="left">
                    <div class="form">
                        <p>社員名：</p>
                        <input type="text" th:type="text" th:field="*{name}" class="holder">
                    </div>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
                    <div class="edit-furigana">
                        <div class="form">
                            <p>フリガナ：</p>
                            <input type="text" th:type="text" th:field="*{furigana}" class="holder">
                        </div>
                        <span th:if="${#fields.hasErrors('furigana')}" th:errors="*{furigana}" class="error"></span>
                    </div>
                </div>
                <div class="right">
                    <div class="form">
                        <p>携帯番号(ハイフン無し)：</p>
                        <input type="text" th:type="text" th:field="*{phone_number}" class="holder">
                    </div>
                    <span th:if="${#fields.hasErrors('phone_number')}" th:errors="*{phone_number}" class="error"></span>
                    <div class="edit-mail">
                        <div class="form">
                            <p>メールアドレス：</p>
                            <input type="text" th:type="text" th:field="*{email}" class="holder">
                        </div>
                    </div>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                </div>
            </div>
            <h2>業務情報</h2>
            <div class="edit-business">
                <p>役職：</p>
                <select th:field="*{position_id}" name="position" class="select-holder" id="selectps">
                    <option th:each="ps : ${position}" th:value="${ps.position_id}" th:inline="text" th:selected="${ps.position_id == select}">[[${ps.position}]]</option>
                    <span th:if="${#fields.hasErrors('position_id')}" th:errors="*{position_id}" class="business-error"></span>
                </select>
            </div>
            <div class="edit-business">
                <p>所属部署：</p>
                <select th:field="*{department_id}" name="department" class="select-holder" id="selectdp">
                    <option th:each="dp : ${department}" th:value="${dp.department_id}" th:inline="text">[[${dp.department}]]</option>
                    <span th:if="${#fields.hasErrors('department_id')}" th:errors="*{department_id}" class="business-error"></span>
                </select>
            </div>
            <div class="edit-business">
                <p>入社年月日：</p>
                <input type="date" th:type="date" th:field="*{joining_date}" class="holder">
                <span th:if="${#fields.hasErrors('joining_date')}" th:errors="*{joining_date}" class="business-error"></span>
            </div>
        </div>
            <div class="edit-btn">
                <div class="save">
                    <input type="submit" value="保存">
                </div>
                <div class="back" style="margin-right: 25px;">
                    <input type="submit" value="戻る" th:formaction="@{/main}" formmethod="get">
                </div>
            </div>
        </form>
    </body>
</html>


