<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="ja">
    <head>
        <meta charset="utf-8">
        <title>社員名簿|新規登録</title>
        <link rel="icon" type="image/png" th:href="@{image/favicon.png}">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
        <script  th:inline="javascript">
            window.onload = function() {
                select = document.getElementById('select-dp').options;
                select[5].selected = true;
                select = document.getElementById('select-ps').options;
                select[4].selected = true;
            }
        </script>

        <script>
            function double(btn){
            btn.disabled=true;
            }
            document.onkeypress = enter;
            function enter(){
                if( window.event.keyCode == 13 ){
                    return false;
                }
            }
        </script>
    </head>

    <body>
        <header>
            <form th:action="@{main}">
                <h1><button>社員名簿</button></h1>
            </form>
            <div class="sub-header">
                <h2>新規登録</h2>
            </div>
        </header>
        <form th:object="${EmployeeForm}" th:action="@{create}" id="form1" enctype="multipart/form-data" method="post">
            <div class="detail-contents">
                <div class="edit-items">
                    <div class="left">
                        <h2>社員情報</h2>
                        <div class="form">
                            <p class="word">社員名：</p>
                            <input type="text" th:type="text" th:field="*{name}" class="holder" placeholder="山田　太郎">
                        </div>
                        <ul th:each="error:${#fields.errors('name')}" class="error">
                            <li  th:text="${error}" ></li>
                        </ul>
                        <div class="form">
                            <p class="word">フリガナ：</p>
                            <input type="text" th:type="text" th:field="*{furigana}" class="holder" placeholder="ヤマダ　タロウ">
                        </div>
                        <ul th:each="error:${#fields.errors('furigana')}" class="error">
                            <li  th:text="${error}" ></li>
                        </ul>
                        <div class="form">
                            <p class="word">携帯番号(ハイフン無し)：</p>
                            <input type="text" th:type="text" th:field="*{phone_number}" class="holder" placeholder="09012341234">
                        </div>
                        <ul th:each="error:${#fields.errors('phone_number')}" class="error">
                            <li  th:text="${error}" ></li>
                        </ul>
                        <div class="form">
                            <p class="word">メールアドレス：</p>
                            <input type="text" th:type="text" th:field="*{email}" class="holder" placeholder="〇〇〇〇@co.jp">
                        </div>
                        <ul th:each="error:${#fields.errors('email')}" class="error">
                            <li  th:text="${error}" ></li>
                        </ul>
                    </div>
                    <div class="right">
                        <h2>業務情報</h2>
                        <div class="form">
                            <p class="word">社員番号：</p>
                            <input type="text" th:type="text" th:field="*{employee_id}" class="holder" placeholder="1">
                        </div>
                        <ul th:each="error:${#fields.errors('employee_id')}" class="error">
                            <li  th:text="${error}" ></li>
                        </ul>
                        <ul class="error">
                            <li>[[${error}]]</li>
                        </ul>
                        <div class="form">
                            <p class="word">役職：</p>
                            <select th:field="*{position_id}" name="position" class="select-holder" id="select-ps">
                                <option th:each="ps : ${position}" th:value="${ps.position_id}" th:inline="text" th:selected="${ps.position_id == select}">[[${ps.position}]]</option>
                                <span th:if="${#fields.hasErrors('position_id')}" th:errors="*{position_id}" class="error"></span>
                            </select>
                        </div>
                        <div class="form">
                            <p class="word">所属部署：</p>
                            <select th:field="*{department_id}" name="department" class="select-holder" id="select-dp">
                                <option th:each="dp : ${department}" th:value="${dp.department_id}" th:inline="text">[[${dp.department}]]</option>
                                <span th:if="${#fields.hasErrors('department_id')}" th:errors="*{department_id}" class="error"></span>
                            </select>
                        </div>
                        <div class="form">
                            <p class="word">入社年月日：</p>
                            <input type="date" th:type="date" th:field="*{joining_date}" class="holder">
                        </div>
                        <ul th:each="error:${#fields.errors('joining_date')}" class="error">
                            <li  th:text="${error}" ></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="edit-btn">
                <button class="save">
                    <input type="submit" value="保存" onClick="javascript:double(this)"/>
                </button>
                <button class="back" style="margin-right: 80px;" type="submit" th:formaction="@{/main}" formmethod="get">
                    <input type="text" name="searchMethod" th:value="${searchMethod}" style="display: none;">
                    <input type="text" name="word" th:value="${word}" style="display: none;">
                    <input type="submit" value="社員一覧に戻る" th:formaction="@{/main}" formmethod="get">
                </button>
            </div>
        </form>
    </body>
</html>


