<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>社員名簿|詳細</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<header>
    <form th:action="@{/main}">
        <h1><button>社員名簿</button></h1>
    </form>
    <div class="sub-header">
        <h2>詳細</h2>
        <div class="date">
            <p>追加日：</p>
            <p th:text="${list.adding_date}"></p>
            <p>　最終更新日：</p>
            <p th:text="${list.last_update_date}"></p>
        </div>
    </div>
</header>
<div class="detail-contents">
    <div class="icons">
        <form th:action="@{/update/{id}(id=${list.employee_id})}" method="get" >
            <button class="tooltip">
                <img th:src="@{/image/edit_color.png}" alt="edit" title="編集" width="25" height="25" style="margin: 0px 15px;">
                <span class="tooltip-text">編集</span>
            </button>
        </form>
        <form th:action="@{/delete/{id}(id=${list.employee_id})}" method="post" onsubmit=" return MoveCheck2();">
            <button name="delete" class="tooltip">
                <img th:src="@{/image/dustbox_color.png}" alt="delete" title="削除" width="25" height="25" style="margin: 0px 15px;">
                <span class="tooltip-text">削除</span>
            </button>
        </form>
    </div>

    <script>

                    function MoveCheck2() {
                        ret=confirm( "社員データを削除してよろしいですか？" );
                        if(ret){
                            return true;
                        } else {
                            return false;
                        }
                    }
    </script>

    <div class="items">
        <div class="left">
            <h2>社員情報</h2>
            <p class="name" th:text="${list.name}"></p>
            <p class="furigana" th:text="${list.furigana}"></p>
            <div class="phone-number">
                <p class="word">携帯番号：</p>
                <p th:text="${list.phone_number}"></p>
            </div>
            <div class="mail">
                <p class="word">メールアドレス：</p>
                <div class="wrap">
                    <p th:text="${list.email}"></p>
                </div>
            </div>
        </div>
        <div class="right">
            <h2>業務情報</h2>
            <div class="business">
                <p class="word">社員番号：</p>
                <p th:text="${list.employee_id}"></p>
            </div>
            <div class="business">
                <p class="word">役職：</p>
                <p th:text="${list.position}"></p>
            </div>
            <div class="business">
                <p class="word">所属部署：</p>
                <p th:text="${list.department}"></p>
            </div>
            <div class="business">
                <p class="word">入社年月日：</p>
                <p th:text="${list.joining_date}"></p>
                <p>([[${list.period}]]年)</p>
            </div>
        </div>
    </div>
</div>

<form th:action="@{/main}" method="get" style="text-align:center;">
    <button class="back">
        <input type="text" name="searchMethod" th:value="${searchMethod}" style="display: none;">
        <input type="text" name="word" th:value="${word}" style="display: none;">
        <input type="submit" value="戻る">
    </button>
</form>
</body>
</html>