<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>社員名簿|詳細</title>
        <link rel="icon" type="image/png" href="image/favicon.png">

        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="./style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>社員名簿</h1>
            <div class="sub-header">
                <h2>詳細</h2>
                <div class="icons">
                    <img src="image/download.png" alt="">
                    <img src="image/download.png" alt="">
                    <img src="image/download.png" alt="">
                </div>
            </div>
        </header>
        <div class="detail-contents">
            <div class="left">
                <img>
            </div>
            <div class="right">
                <div class="items">
                    <div class="item">
                        <p>社員番号</p>
                        <p class="holder">12345</p>
                    </div>
                    <div class="item">
                        <p>社員名</p>
                        <p class="holder">山田　太郎</p>
                    </div>
                    <div class="item">
                        <p>フリガナ</p>
                        <p class="holder">ヤマダ　タロウ</p>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <p>入社年月日</p>
                        <p class="holder">xxxx年xx月xx日</p>
                    </div>
                    <div class="item" class="item">
                        <p>入社年数</p>
                        <p class="holder">xx年</p>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <p>役職</p>
                        <p class="holder">○○</p>
                    </div>
                    <div class="item">
                        <p>所属部署</p>
                        <p class="holder">○○部</p>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <p>携帯番号</p>
                        <p class="holder">xxxxxxxxxx</p>
                    </div>
                    <div class="item">
                        <p>メールアドレス</p>
                        <p class="holder">xxxx@xxxx.co.jp</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn">
            <a>戻る</a>
        </div>
    </body>
</html>