<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <title>error</title>
</head>
<body>
<header>
    <h1 th:text="${status}"></h1>
</header>
<div class="detail-contents">
    <h2 th:text="${message}"></h2>
</div>
<div class="detail-btn">
    <form th:object="${EmployeeForm}" th:action="@{${url}}" method="${method}">
        <input type="text" name="searchMethod" th:value="${searchMethod}" style="display: none;">
        <input type="text" name="word" th:value="${word}" style="display: none;">
        <input type="submit" th:value="${button}">
    </form>
</div>
</body>
</html>