<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
    <head>
        <meta charset="utf-8">
        <title>社員名簿｜社員一覧</title>
        <link rel="icon" type="image/png" href="image/favicon.png">

        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

        <script>
            $(document).ready(function() {
                $('#emp-table').tablesorter({
                    headers: {
                        0: { sorter:"text"},
                        4: { sorter: false }
                    },
                    textSorter:{
                        0: $.tablesorter.sortText
                    }
                } );
            });

        </script>
        <script  th:inline="javascript">
            window.onload = function() {
                select = document.getElementById('searchMethod').options;
                for(let i = 0; i < select.length; i++ ){
                    if( select[i].value === [[${searchMethod}]] ) {
                        select[i].selected = true;
                        break;
                    }
                }
            }
        </script>


        <script>
            jQuery(document).ready(function() {
            var offset = 100;
            var duration = 500;
            jQuery(window).scroll(function() {
                if (jQuery(this).scrollTop() > offset) {
                     jQuery('.top').fadeIn(duration);
                } else {
                     jQuery('.top').fadeIn(duration);
                 }
            });

            jQuery('.top').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
            })
            });
        </script>
    </head>

    <body>
        <header>
            <form th:action="@{main}">
                <h1><button>社員名簿</button></h1>
            </form>
            <div class="sub-header">
                <h2>社員一覧</h2>

                <div class="contents">
                    <form th:action="@{main}">
                        <div class="search" style="margin: 0px 8px">
                            <select name="searchMethod" class="select-box" id="searchMethod">
                                <option value="name">社員名</option>
                                <option value="employee_id">社員番号</option>
                                <option value="position">役職</option>
                                <option value="department">所属部署</option>
                            </select>
                            <input type="text" placeholder="検索" name="word" th:value="${word}">
                            <input type="submit" value="&#xf002;" class="fas">
                        </div>
                    </form>
                    <div class="main-icons">
                        <form th:action="@{/create}" method="get" style="padding: 3px 8px 0px 8px">
                            <input type="text" name="searchMethod" th:value="${searchMethod}" style="display: none;">
                            <input type="text" name="word" th:value="${word}" style="display: none;">
                            <button class="tooltip">
                                <img th:src="@{/image/plus_color.png}" width="25" height="25">
                                <span class="tooltip-text">新規登録</span>
                            </button>
                        </form>
                        <div th:if="${word}==null" th:with="searchMethod=employees,word=all">
                        <form th:action="|/${searchMethod}_${word}.csv|" method="get" onsubmit=" return MoveCheck();" style="padding: 3px 8px 0px 8px">
                            <button name ="downloadFile" class="tooltip">
                                <img th:src="@{/image/download_color.png}" width="25" height="25">
                                <span class="tooltip-text">ダウンロード</span>
                            </button>
                        </form>
                        </div>
                        <div th:if="${word}">
                            <form th:action="|/${searchMethod}_${word}.csv|" method="get" onsubmit=" return MoveCheck();" style="padding: 3px 8px 0px 8px">
                                <button name ="downloadFile" class="tooltip">
                                    <img th:src="@{/image/download_color.png}" width="25" height="25">
                                    <span class="tooltip-text">ダウンロード</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <script>
                    function MoveCheck() {
                        if([[${count}]]==0){
                        alert("ダウンロードできるデータがありません");
                        return false;
                        }else{
                            ret=confirm( "検索結果をCSVファイルでダウンロードしてよろしいですか？" );
                            if(ret){
                                return true;
                            } else {
                                return false;
                            }
                        }
                    }
                </script>
                
            </div>
        </header>

        <table border="1" style="border-collapse: collapse" class="t-line tablesorter" id="emp-table">
            <thead>
                <tr class="t-top" height="40">
                        <th width="20%">社員番号</th>
                        <th width="30%">社員名</th>
                        <th width="25%">役職</th>
                        <th width="15%">所属部署</th>
                    <th width="10%" style="cursor: default"></th>
                </tr>
            </thead>
            <tbody>
            <tr height="40" th:each="emp : ${employeeList}">
                <td th:text="${emp.employee_id}"></td>
                <td><p th:text="${emp.furigana}" style="display: none;"></p><p th:text="${emp.name}"></p></td>
                <td><p th:text="${emp.position_id}" style="display: none;"></p><p th:text="${emp.position}"></p></td>
                <td><p th:text="${emp.department_id}" style="display: none;"></p><p th:text="${emp.department}"></p></td>
                <td>
                    <form th:action="@{detail/{id}(id=${emp.employee_id})}" style="text-align: center">
                        <input type="text" name="searchMethod" th:value="${searchMethod}" style="display: none;">
                        <input type="text" name="word" th:value="${word}" style="display: none;">
                        <input type="submit" value="詳細" class="detail">
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        <p style="text-align: center; color: red">[[${error}]]</p>
        <div class="top">
            <a href="#"><img th:src="@{/image/top.png}" alt="page-top" width="50" height="50" ></a>
        </div>
    </body>
</html>


