<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
    <head>
        <meta charset="utf-8">
        <title>社員名簿｜社員一覧</title>
        <link rel="icon" type="image/png" href="image/favicon.png">

        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

        <script>
            $(document).ready(function() {
                $('#emptable').tablesorter({
                    headers: {
                        4: { sorter: false }
                    }
                } );
            });
        </script>
    </head>

    <body>
        <header >
            <div>
                <h1>社員名簿</h1>
            </div>
            <div class="sub-header">
                <h2>社員一覧</h2>

                <div class="contents" >
                    <form th:action="@{main}">
                        <div class="search" style="margin-right: 25px;">
                            <select name="searchmethod" class="selectbox">
                                <option value="name" selected>名前</option>
                                <option value="employee_id">社員番号</option>
                                <option value="position">役職</option>
                                <option value="department">所属部署</option>
                            </select>
                            <input type="text" placeholder="検索" name="word">
                            <input type="submit" value="&#xf002;" class="fas">
                        </div>
                    </form>
                    <div class="mainicons">
                        <form th:action="@{/create}" method="post">
                            <input type ="image" name="submit" width="25" height="25" th:src="@{/images/plus.png}" alt="新規登録">
                        </form>
                        <img th:src="@{/images/download.png}" alt="download" width="25" height="25" onclick="MoveCheck();">

                    </div>
                </div>

                <script>
                    function MoveCheck() {
                        ret=confirm( "検索結果をCSVファイルでダウンロードしてよろしいですか？" );
                        if (ret == true) {
                            location.href = "file:///Users/minori-hagihara/Documents/TeamOhana/templates/detail.html"
                        }
                    }
                </script>
                
            </div>
        </header>

        <table border="1" style="border-collapse: collapse" class="t-line tablesorter" id="emptable">
            <thead>
            <tr class="t-top" height="40">
                    <th>社員番号</th>
                    <th>社員名</th>
                    <th>役職</th>
                    <th>所属部署</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr height="40" th:each="emp : ${employeeList}">
                <td th:text="${emp.employee_id}"></td>
                <td th:text="${emp.name}"></td>
                <td><p th:text="${emp.position_id}" style="display: none;"></p><p th:text="${emp.position}"></p></td>
                <td><p th:text="${emp.department_id}" style="display: none;"></p><p th:text="${emp.department}"></p></td>
                <td>
                    <form th:action="@{detail/{id}(id=${emp.employee_id})}" method="get">
                        <input type="submit" value="詳細">
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="top">

            <a href="#"><input type="image" th:src="@{/images/top.png}" alt="page_top" width="50" height="50" ></a></div>
        </div>
    </body>
</html>


