<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>社員名簿｜社員一覧</title>
        <link rel="icon" type="image/png" href="image/favicon.png">

        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <div>
                <h1>社員名簿</h1>
            </div>
            <div class="sub-header">
                <h2>社員一覧</h2>

                <div class="contents">
                    <div class="search" style="margin-right: 25px;">
                        <select name="searchmethod" class="selectbox">
                            <option value="名前" selected>名前</option>
                            <option value="社員番号">社員番号</option>
                            <option value="入社年月日">入社年月日</option>
                            <option value="役職">役職</option>
                            <option value="所属部署">所属部署</option>
                        </select>
                        <input type="text" placeholder="検索">
                        <input type="submit" value="&#xf002;" class="fas">
                    </div>
                    <div class="mainicons">
                        <form th:action="@{/create}" method="get">
                            <input type ="image" name="submit" width="25" height="25" th:src="@{/images/plus.png}" alt="新規登録">
                        </form>
                        <img th:src="@{/images/download.png}" alt="download" width="25" height="25" onclick="MoveCheck();">

                    </div>
                </div>

                <script>
                    function MoveCheck() {
                        ret=confirm( "検索結果をCSVファイルでダウンロードしてよろしいですか？" );
                        if (ret == true) {
                            location.href = "file:///Users/minori-hagihara/Documents/TeamOhana/templates/detail.html"
                        }
                    }
                </script>
                
            </div>
        </header>

        <table border="1" style="border-collapse: collapse" class="t-line">
            <tr class="t-top" height="40">
                <th>社員番号</th>
                <th>社員名</th>
                <th>フリガナ</th>
                <th>入社年月日</th>
                <th>入社年数</th>
                <th>役職</th>
                <th>所属部署</th>
                <th>携帯番号</th>
                <th>メールアドレス</th>
                <th></th>
            </tr>
            <tr height="40" th:each="emp : ${employeeList}">
                <td th:text="${emp.employee_id}"></td>
                <td th:text="${emp.name}"></td>
                <td th:text="${emp.furigana}"></td>
                <td th:text="${emp.joining_date}"></td>
                <td th:text="${emp.period}"></td>
                <td th:text="${emp.position}"></td>
                <td th:text="${emp.department}"></td>
                <td th:text="${emp.phone_number}"></td>
                <td th:text="${emp.email}"></td>
                <td class="information"><a href="./detail.html"><img th:src="@{/images/information.png}" alt="information" width="25" height="25"></a></td>
            </tr>
        </table>
        <div class="top">

            <a href="#"><input type="image" th:src="@{/images/top.png}" alt="page_top" width="50" height="50" ></a></div>
        </div>
    </body>
</html>

