<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>社員名簿|新規登録</title>
        <link rel="icon" type="image/png" href="image/favicon.png">

        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="./style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>社員名簿</h1>
            <div class="sub-header">
                <h2>新規登録</h2>
        </header>
        <div class="detail-contents">
            <div class="left">
                <img src="image/No image.png" alt="no picture">
            </div>
            <div class="right">
                <div class="items">
                    <div class="item">
                        <p>社員名</p>
                        <p class="holder"><input type="text"></p>
                    </div>
                    <div class="item">
                        <p>フリガナ</p>
                        <p class="holder"><input type="text"></p>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <p>入社年月日</p>
                        <p class="holder"><input type="date"></p>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <p>役職</p>
                        <select name="position" class="select-holder">
                            <option disabled selected value>選択してください</option>
                            <option value="代表取締役社長">代表取締役社長</option>
                            <option value="専務取締役">専務取締役</option>
                            <option value="部長">部長</option>
                            <option value="課長">課長</option>
                            <option value="一般社員">一般社員</option>

                        </select>
                    </div>
                    <div class="item">
                        <p>所属部署</p>
                        <select name="department" class="select-holder">
                            <option disabled selected value>選択してください</option>
                            <option value="所属なし">所属なし</option>
                            <option value="総務部">総務部</option>
                            <option value="人事部">人事部</option>
                            <option value="経理部">経理部</option>
                            <option value="営業部">営業部</option>
                            <option value="開発部">開発部</option>
                        </select>
                    </div>
                </div>
                <div class="items">
                    <div class="item">
                        <p>携帯番号(ハイフン無し)</p>
                        <p class="holder"><input type="text" maxlength="11"></p>
                    </div>

                    <script>
                        $(function(){
                            $('#number').on('keydown',function(e){
                                var k = e.keyCode;
                                if(!((k >= 48 && k <= 57) || (k >= 96 && k <= 105) || k == 32 || k == 8 || k == 46 || k == 39 || k == 37)) {
                                    return false;
                                }
                            })
                        })
                    </script>

                    <div class="item">
                        <p>メールアドレス</p>
                        <p class="holder"><input type="text">@co.jp</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-btn">
            <div class="back" style="margin-right: 25px;">
                <a href="./main.html">戻る</a>
            </div>
            <div class="save">
                <a href="./main.html">保存</a>
            </div>
        </div>
    </body>
</html>
