@charset "UTF-8";

html{
    font-size: 100%;
}
body{

}
h1{
    background-color: rgb(241, 135, 36);
    padding: 20px 0px 20px 5%;
}

.sub-header{
    background-color: rgb(255, 207, 77);
    padding: 10px 0px 10px 5%;
    display: flex;
}

.sub-header .icons{
    display: flex;
}

h2{
    
}


.detail-contents{
    display: flex;
}

.detail-contents .items{
    display: flex;
    padding: 20px;
}

.detail-contents .items .item{
    padding: 20px;
}

.left{
    width: 40%;
}

.right{
    width: 60%;
}

.btn{
    width: fit-content;
    margin : 0 auto;
    padding: 10px;
    background-color: rgb(247, 228, 123);
}
.btn:hover{
    background-color: rgb(240, 191, 84);
}